menu "Example configuration"
    choice EXAMPLE_I2C_ADDRESS
        prompt "Select I2C address"
        default EXAMPLE_I2C_ADDRESS_LO
        help
            Select I2C address

        config EXAMPLE_I2C_ADDRESS_LO
            bool "BH1750_ADDR_LO"
            help
                Choose this when ADDR pin is floating or low.
        config EXAMPLE_I2C_ADDRESS_HI
            bool "BH1750_ADDR_HI"
            help
                Choose this when ADDR pin is high.
    endchoice

    rsource "../../../../devtools/Kconfig.i2c"
endmenu
