menu "Example configuration"
    config EXAMPLE_SHUNT_RESISTOR_MILLI_OHM
        int "Shunt resistor value in milliohm)"
        default 100
        help
            Shunt resistor value in milliohm. Must not be zero.

    config EXAMPLE_I2C_ADDR
        hex "I2C address of INA219"
        default 0x40
        help
            I2C address of INA219. The default is A1 pin to GND, and A0 pin to
            GND (`INA219_ADDR_GND_GND`, or `0x40`). See available options in
            ina219.h.

    rsource "../../../../devtools/Kconfig.i2c"
endmenu
