menu "Example configuration"
    config EXAMPLE_PWM_FREQ_HZ
        int "Frequency of PWM outputs"
        default 1500
        help
            Frequency of PWM outputs. The maximum PWM frequency is 1526 Hz,
            and the minimum PWM frequency is 24 Hz. See "7.3.5 PWM frequency
            PRE_SCALE" in the datasheet.

    config EXAMPLE_I2C_MASTER_SCL
        int "SCL GPIO Number"
        default 5 if IDF_TARGET_ESP8266
        default 6 if IDF_TARGET_ESP32C3
        default 19 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
        help
            GPIO number for I2C Master clock line.

    config EXAMPLE_I2C_MASTER_SDA
        int "SDA GPIO Number"
        default 4 if IDF_TARGET_ESP8266
        default 5 if IDF_TARGET_ESP32C3
        default 18 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
        help
            GPIO number for I2C Master data line.
endmenu
