---
# to see all the options in the `BasedOnStyle`, use `clang-format --dump-config`.
# when you add a new option, make sure `comonents/example` has a valid style
# that conforms the new option.

BasedOnStyle: LLVM

BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterControlStatement: true
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: true
    AfterStruct: true
    AfterUnion: true
    AfterExternBlock: false
    BeforeCatch: true
    BeforeElse: true
    IndentBraces: false
IndentWidth: 4
IndentCaseLabels: true
UseCRLF: false
