# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.swp

**/build/
**/sdkconfig.old
**/sdkconfig
/.cproject
/.project
/.settings/
/.pydevproject
/__garbage__/
**/.vscode/
**/.devcontainer
.idea/
cmake-build-debug/

/esp-idf-lib.code-workspace
Gemfile.lock

# macOS .DS_Store and .AppleDouble files
.DS_Store
.AppleDouble

# bundled files by ruby bundler and configuration
/.bundle/
/vendor/

# python cache
__pycache__/
