menu "Example configuration"

    config EXAMPLE_D0_GPIO
        int "D0 GPIO number"
        default 4 if IDF_TARGET_ESP8266 || IDF_TARGET_ESP32C3
        default 16 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
        help
            GPIO number for D0 Wiegand line

    config EXAMPLE_D1_GPIO
        int "D1 GPIO number"
        default 5 if IDF_TARGET_ESP8266 || IDF_TARGET_ESP32C3
        default 17 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
        help
            GPIO number for D1 Wiegand line

    config EXAMPLE_BUF_SIZE
        int "Buffer size, bytes"
        default 4
        help
            Buffer size for Wiegand data. 4 bytes should be enough for demo

endmenu
