menu "Example configuration"
    choice EXAMPLE_I2C_ADDRESS
        prompt "Select I2C address of TSYS01"
        default EXAMPLE_I2C_ADDRESS1
        help
            Select I2C address
        config EXAMPLE_I2C_ADDRESS1
            bool "TSYS01_I2C_ADDR1 (0x76)"
        config EXAMPLE_I2C_ADDRESS2
            bool "TSYS01_I2C_ADDR2 (0x77)"
    endchoice

    config EXAMPLE_I2C_MASTER_SCL
        int "SCL GPIO Number"
        default 5 if IDF_TARGET_ESP8266
        default 6 if IDF_TARGET_ESP32C3
        default 19 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
        help
            GPIO number for I2C Master clock line.

    config EXAMPLE_I2C_MASTER_SDA
        int "SDA GPIO Number"
        default 4 if IDF_TARGET_ESP8266
        default 5 if IDF_TARGET_ESP32C3
        default 18 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
        help
            GPIO number for I2C Master data line.
endmenu
