menu "Example configuration"
    config EXAMPLE_DELAY
        int "scrool deley in ms"
        default 2000
        help
            The delay in scrooling.

    config EXAMPLE_PIN_NUM_MOSI
        int "GPIO number of MOSI"
        default 13 if IDF_TARGET_ESP8266
        default 19 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3 || IDF_TARGET_ESP32C3
        help
            GPIO number of MOSI

    config EXAMPLE_PIN_NUM_CLK
        int "GPIO number of CLK"
        default 14 if IDF_TARGET_ESP8266
        default 18 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3 || IDF_TARGET_ESP32C3
        help
            GPIO number of CLK

    config EXAMPLE_PIN_NUM_CS
        int "GPIO number of CS"
        default 15 if IDF_TARGET_ESP8266
        default 5 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3 || IDF_TARGET_ESP32C3
        help
            GPIO number of CS
endmenu
