menu "HMC5883L"

config HMC5883L_MEAS_TIMEOUT
    int "Measurement timeout, microseconds"
    default 6000
    range 500 10000

config HMC5883L_I2C_TIMEOUT
    int "I2C transaction timeout, milliseconds"
    default 1000
    range 100 5000
    
endmenu