menu "SSD1306 display driver"

    choice SSD1306_PROTOCOL_CHOOSE
        prompt "Choose protocol for SSD1306"
        default SSD1306_PROTOCOL_I2C

        config SSD1306_PROTOCOL_I2C
            bool "I2C"

        config SSD1306_PROTOCOL_SPI3
            bool "3-wire SPI"

        config SSD1306_PROTOCOL_SPI4
            bool "4-wire SPI (SPI + D/C)"
    endchoice

endmenu
