menu "Example configuration"
    config EXAMPLE_DATA_GPIO
        int "DATA GPIO Number"
        default 2 if IDF_TARGET_ESP8266
        default 6 if IDF_TARGET_ESP32C3
        default 19 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
        help
            GPIO number for anemometer sensor DATA line.

endmenu
