menu "Example configuration"

    config EXAMPLE_I2C_ADDR
        hex "I2C address of TSL2561"
        default 0x39
        help
            I2C address of TSL2561. The default is `TSL2561_I2C_ADDR_FLOAT`, or
            0x39. See available options in datasheet.

    rsource "../../../../devtools/Kconfig.i2c"
endmenu
