menu "Example configuration"
    config EXAMPLE_I2C_ADDRESS
        hex "I2C address"
        default 0x77
        help
            I2C address of DPS310. When SDO is pulled low, 0x76. When pulled high, 0x77.

    rsource "../../../../devtools/Kconfig.i2c"
endmenu
