menu "ESP-NOW Utils Configuration"
    choice MEM_ALLOCATION_LOCATION
        prompt "The memory location allocated by MALLOC CALLOC and REALLOC"
        help 
            choice where to allocate memory, can be SPIRAM or default

        config MEM_ALLOCATION_DEFAULT
            bool "default allocation strategy"
        config MEM_ALLOCATION_SPIRAM
            depends on ESP32S2_SPIRAM_SUPPORT || ESP32_SPIRAM_SUPPORT
            bool "allocate memory in SPIRAM"
    endchoice
        
endmenu
