menu "Rotary encoders"

	config RE_MAX
		int "Maximum number of rotary encoders"
		default 1
			
	config RE_INTERVAL_US
		int "Polling interval, us"
		default 10000 if IDF_TARGET_ESP8266
		default 1000 if !IDF_TARGET_ESP8266
		
	config RE_BTN_DEAD_TIME_US
		int "Button dead time, us"
		default 10000
			
	choice RE_BTN_PRESSED_LEVEL
		prompt "Logical level on pressed button"
		config RE_BTN_PRESSED_LEVEL_0
			bool "0"
		config RE_BTN_PRESSED_LEVEL_1
			bool "1"
	endchoice
	
	config RE_BTN_LONG_PRESS_TIME_US
		int "Long press timeout, us"
		default 500000

	config RE_ACCELERATION_MIN_CUTOFF
		int "Minimum Acceleration cutoff time (ms)"
		default 200
		help
            At this time in milliseconds between rotary ticks we want to be at the minimum acceleration

	config RE_ACCELERATION_MAX_CUTOFF
		int "Maximum Acceleration cutoff time (ms)"
		default 4
		help
            At this time in milliseconds between rotary ticks we want to be at the maximum acceleration
endmenu
