menu "Example configuration"
    config EXAMPLE_DS2438_ONEWIRE_PIN
        int "onewire GPIO Number"
        default 5 if IDF_TARGET_ESP8266
        default 6 if IDF_TARGET_ESP32C3
        default 25 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
        help
            GPIO number for one wire.
endmenu
