---
name: "Build the documentation"
on:
  pull_request:
    types:
      - labeled
      - synchronize

jobs:
  pre_build:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.result }}
    steps:
      - id: skip_check
        uses: actions/github-script@v6
        with:
          result-encoding: string
          script: |
            console.log("context");
            console.log(JSON.stringify(context, null, 2));
            let should_skip = false;

            switch(context.payload.action) {
              case "labeled":
                if (context.payload.label.name != "area:docs") {
                  should_skip = true;
                }
                if (context.payload.label.name == "area:ci") {
                  should_skip = false;
                }
                break;
              case "synchronize":
                let labels = context.payload.pull_request.labels.map(label => { return label.name });
                if (!labels.includes("area:docs")) {
                  should_skip = true;
                }
                if (labels.includes("area:ci")) {
                  should_skip = false;
                }
                break;
              }
            return should_skip;
  docs:
    runs-on: ubuntu-latest
    needs: pre_build
    if: ${{ needs.pre_build.outputs.should_skip != 'true' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install python3-sphinx python3-sphinx-rtd-theme python3-breathe doxygen

      - name: Build docs
        run: |
          make -C docs
