---
name: PR Labeler
on:
  # run the workflow when a PR is created
  pull_request_target:
    types:
      - opened

jobs:
  pr-labeler:
    permissions:
      # XXX required by TimonVS/pr-labeler-action@v3
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: TimonVS/pr-labeler-action@v3
        with:
          configuration-path: .github/pr-labeler.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
